#operations {
  background-color: black;
  color: white;
}



#buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3px;
}

#buttons-container button {
  border: 1px solid transparent;
  border-radius: 3px;
  height: 4em;
  font-size: 1.2em;
  background-color: #dbdbdb;
  cursor: pointer;
}

body {
  background-color: #333;
  text-align: center;
  align-items: center;
  padding: 5cm;
}

#previous-operation {
  color: #777;
  padding: 0.2em;
  overflow-wrap: break-word;
  min-height: 1.6em;
}

#current-operation {
  min-height: 1.6em;
  font-size: 3em;
  font-weight: 700;
  padding: 0.2em;
  overflow-wrap: break-word;
}